<div>
  <% if current_user %>
  <h2>Submit a Link</h2>
    <%= form_for @link do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %>

      <br>

      <%= f.label :url %>
      <%= f.url_field :url %>

      <br><br>

      <%= f.submit "Submit link" %>
    <% end %>
  <% end %>

  <h2>All Links</h2>

  <strong>Search:</strong><input id="search" type="text" />

  <br><br>

  <% @links.each do |link| %>
    <%= render partial: "link", locals: { link: link } %>
  <% end %>
</div>
